header {

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  z-index: 3000;
  font-family: 'Clash Display', sans-serif;
  font-size: 22px;
  height: 35px;
  /* color: black; */
}
.main{
  width: 100%;
}
/* .btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #000000;
  color: #f5f5f5;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #0000003a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
} */

.btn:active .icon {
  transform: scale(0.85);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  width: 100%;
}

#Video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  color: #f1f1f1;
  overflow: hidden;
  object-fit: cover;
  z-index: -99;
  position: relative;
  filter: brightness(75%);
  margin-top: 35px;
}

.text-vid {
  display: inline-block;
  box-sizing: border-box;
}

.text-vid h1 {
  color: #f1f1f1;
  font-size: 120px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 150px;
  font-family: 'Yeseva One', cursive;
}

.text-vid p {
  color: #f1f1f1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 200px;
  font-weight: 900;
  font-family: 'Amatic SC', cursive;;
}

.text-vid button {
  background-color: #363232;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 400px;
  left: 45%;
  cursor: pointer;
}

.navigation {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 15px 15px;
  font-weight: 700;
  font-size: 12px;
}

.navigation li a:hover,
.navigation li a.active {
  font-size: 15px;
  color: pink;
  transition: 0.3s ease-out;
}

.product {
  margin: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.product-ben h2{
  font-family: 'Clash Display', sans-serif;
  font-size: 50px;
}
.product-ben p{
  font-family: 'Chillax', sans-serif;
  text-align: justify;
  margin-right: 30px;
  font-size: 17px;
}
.shop{
  display: flex;
  margin: 50px;
}
.feature{
  margin-left: 5%;
  cursor: pointer;
}
img.hover-shadow {
  transition: 0.3s;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-desc h3{
  font-family: 'Clash Display', sans-serif;
  font-size: 18px;
  letter-spacing: .2em;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 0;
}
.feature-desc h1{
  font-family: 'Clash Display', sans-serif;
  letter-spacing: .2em;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 2px;
}
.feature-desc h5{
  margin-left: 20px;
  font-weight: lighter;
  font-size: 17px;
}
.feature-desc p{
  font-family: 'Chillax', sans-serif;
  text-align: justify;
  margin-left: 20px;
  font-size: 17px;
}
.feature-inclusions{
  margin-top: 0;
  display: flex;
  cursor: pointer;
}

.product-pic{
  margin-top: 40px;
}

.mySlides {display: none;}






/* Media Scree */


@media only screen and (min-width: 1200px) {
  /* styles for browsers larger than 1200px; */
  .text-vid h1 {
    font-size: 150px;
    top: 100px;
  }

  .text-vid p {
    top: 130px;
    font-size: 40px;
  }

  .text-vid button {
    font-size: 16px;
    top: 400px;
  }
}

@media only screen and (min-width: 1600px) {
  /* styles for browsers larger than 1600px; */
  .text-vid h1 {
    font-size: 200px;
    top: 200px;
  }

  .text-vid p {
    top: 230px;
    font-size: 50px;
  }

  .text-vid button {
    font-size: 25px;
    top: 600px;
  }
}

@media only screen and (max-device-width: 1200px) {
 /* styles for mobile browsers smaller than 480px; (iPhone) */
 .text-vid h1 {
  font-size: 150px;
  top: 70px;
}

.text-vid p {
  top: 120px;
  font-size: 30px;
}

.text-vid button {
  display: inline-block;
  font-size: 16px;
  top: 350px;
}
}